body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #00ccff;
    color:white;
    text-align: center;
    padding: 40px;
}
footer {
    border-top-style:solid;
    border-color:black;
    border-width: 2px;
    margin-top:20px;
    text-align: right;
}
header{
    background-color:#00ccff ;
}
.flex-container {
    display:flex;
    background-color: rgb(70, 66, 66);
}
.flex-container >div {
background-color: white;
margin:10px;
font-size: 15px;
padding: 5px;

}
a:link {
    color:black;
    text-decoration: none;

  }
  a:visited{
    color: black;
  }
  a:hover {
      color:rgb(46, 45, 45);
      text-decoration: underline;
  }
  dl {
    text-align: center;
  }
  dt{
    text-align: center;
  }
  dd{
    text-align: center;
  }
  h2{
    text-align: center;
  }
  figure{
      text-align: center;
  }
  iframe {
    margin-left: 480px;
  }
  h2 {
      background-color:blanchedalmond;
      padding:10px;
  }